2015_20250824_Viagens.zip filter=lfs diff=lfs merge=lfs -text
dataset/Viagens/2015_20250824_Viagens.zip filter=lfs diff=lfs merge=lfs -text
2016_20250824_Viagens.zip filter=lfs diff=lfs merge=lfs -text
2017_20250831_Viagens.zip filter=lfs diff=lfs merge=lfs -text
2018_20250831_Viagens.zip filter=lfs diff=lfs merge=lfs -text
2019_20250831_Viagens.zip filter=lfs diff=lfs merge=lfs -text
2020_20250831_Viagens.zip filter=lfs diff=lfs merge=lfs -text
2021_20250831_Viagens.zip filter=lfs diff=lfs merge=lfs -text
2022_20250831_Viagens.zip filter=lfs diff=lfs merge=lfs -text
2023_20250831_Viagens.zip filter=lfs diff=lfs merge=lfs -text
2024_20250831_Viagens.zip filter=lfs diff=lfs merge=lfs -text
C:/Users/rapha/Documents/ETL-dados-governamentais/dataset/Viagens/2015/2015_Pagamento.csv filter=lfs diff=lfs merge=lfs -text
C:/Users/rapha/Documents/ETL-dados-governamentais/dataset/Viagens/2015/2015_Passagem.csv filter=lfs diff=lfs merge=lfs -text
C:/Users/rapha/Documents/ETL-dados-governamentais/dataset/Viagens/2017/2017_Pagamento.csv filter=lfs diff=lfs merge=lfs -text
C:/Users/rapha/Documents/ETL-dados-governamentais/dataset/Viagens/2017/2017_Passagem.csv filter=lfs diff=lfs merge=lfs -text
C:/Users/rapha/Documents/ETL-dados-governamentais/dataset/Viagens/2017/2017_Viagem.csv filter=lfs diff=lfs merge=lfs -text
C:/Users/rapha/Documents/ETL-dados-governamentais/dataset/Viagens/2016/2016_Pagamento.csv filter=lfs diff=lfs merge=lfs -text
C:/Users/rapha/Documents/ETL-dados-governamentais/dataset/Viagens/2016/2016_Passagem.csv filter=lfs diff=lfs merge=lfs -text
C:/Users/rapha/Documents/ETL-dados-governamentais/dataset/Viagens/2016/2016_Viagem.csv filter=lfs diff=lfs merge=lfs -text
C:/Users/rapha/Documents/ETL-dados-governamentais/dataset/Viagens/2018/2018_Pagamento.csv filter=lfs diff=lfs merge=lfs -text
C:/Users/rapha/Documents/ETL-dados-governamentais/dataset/Viagens/2018/2018_Passagem.csv filter=lfs diff=lfs merge=lfs -text
C:/Users/rapha/Documents/ETL-dados-governamentais/dataset/Viagens/2018/2018_Viagem.csv filter=lfs diff=lfs merge=lfs -text
C:/Users/rapha/Documents/ETL-dados-governamentais/dataset/Viagens/2019/2019_Pagamento.csv filter=lfs diff=lfs merge=lfs -text
C:/Users/rapha/Documents/ETL-dados-governamentais/dataset/Viagens/2019/2019_Passagem.csv filter=lfs diff=lfs merge=lfs -text
C:/Users/rapha/Documents/ETL-dados-governamentais/dataset/Viagens/2019/2019_Viagem.csv filter=lfs diff=lfs merge=lfs -text
C:/Users/rapha/Documents/ETL-dados-governamentais/dataset/Viagens/2020/2020_Viagem.csv filter=lfs diff=lfs merge=lfs -text
C:/Users/rapha/Documents/ETL-dados-governamentais/dataset/Viagens/2021/2021_Pagamento.csv filter=lfs diff=lfs merge=lfs -text
C:/Users/rapha/Documents/ETL-dados-governamentais/dataset/Viagens/2021/2021_Viagem.csv filter=lfs diff=lfs merge=lfs -text
C:/Users/rapha/Documents/ETL-dados-governamentais/dataset/Viagens/2022/2022_Pagamento.csv filter=lfs diff=lfs merge=lfs -text
C:/Users/rapha/Documents/ETL-dados-governamentais/dataset/Viagens/2022/2022_Viagem.csv filter=lfs diff=lfs merge=lfs -text
C:/Users/rapha/Documents/ETL-dados-governamentais/dataset/Viagens/2020/2020_Pagamento.csv filter=lfs diff=lfs merge=lfs -text
C:/Users/rapha/Documents/ETL-dados-governamentais/dataset/Viagens/2021/2021_Passagem.csv filter=lfs diff=lfs merge=lfs -text
C:/Users/rapha/Documents/ETL-dados-governamentais/dataset/Viagens/2022/2022_Passagem.csv filter=lfs diff=lfs merge=lfs -text
C:/Users/rapha/Documents/ETL-dados-governamentais/dataset/Viagens/2020/2020_Passagem.csv filter=lfs diff=lfs merge=lfs -text
C:/Users/rapha/Documents/ETL-dados-governamentais/dataset/Viagens/2024/2024_Passagem.csv filter=lfs diff=lfs merge=lfs -text
C:/Users/rapha/Documents/ETL-dados-governamentais/dataset/Viagens/2024/2024_Viagem.csv filter=lfs diff=lfs merge=lfs -text
C:/Users/rapha/Documents/ETL-dados-governamentais/dataset/Viagens/2023/2023_Pagamento.csv filter=lfs diff=lfs merge=lfs -text
C:/Users/rapha/Documents/ETL-dados-governamentais/dataset/Viagens/2023/2023_Passagem.csv filter=lfs diff=lfs merge=lfs -text
C:/Users/rapha/Documents/ETL-dados-governamentais/dataset/Viagens/2023/2023_Viagem.csv filter=lfs diff=lfs merge=lfs -text
C:/Users/rapha/Documents/ETL-dados-governamentais/dataset/Viagens/2024/2024_Pagamento.csv filter=lfs diff=lfs merge=lfs -text
C:/Users/rapha/Documents/ETL-dados-governamentais/dataset/Viagens/2015/2015_Viagem.csv filter=lfs diff=lfs merge=lfs -text
*.csv filter=lfs diff=lfs merge=lfs -text
