2015_20250824_Viagens.zip filter=lfs diff=lfs merge=lfs -text
dataset/Viagens/2015_20250824_Viagens.zip filter=lfs diff=lfs merge=lfs -text
2016_20250824_Viagens.zip filter=lfs diff=lfs merge=lfs -text
2017_20250831_Viagens.zip filter=lfs diff=lfs merge=lfs -text
2018_20250831_Viagens.zip filter=lfs diff=lfs merge=lfs -text
2019_20250831_Viagens.zip filter=lfs diff=lfs merge=lfs -text
2020_20250831_Viagens.zip filter=lfs diff=lfs merge=lfs -text
2021_20250831_Viagens.zip filter=lfs diff=lfs merge=lfs -text
2022_20250831_Viagens.zip filter=lfs diff=lfs merge=lfs -text
2023_20250831_Viagens.zip filter=lfs diff=lfs merge=lfs -text
2024_20250831_Viagens.zip filter=lfs diff=lfs merge=lfs -text
