USE [ProjetoGastosGovernamentais]
GO
/****** Object:  Trigger [dbo].[TR_Auditoria_GastosCartao]    Script Date: 19/10/2025 13:57:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- 2. Trigger para auditoria da tabela GastosCartao
ALTER TRIGGER [dbo].[TR_Auditoria_GastosCartao]
ON [dbo].[GastosCartao]
AFTER INSERT, UPDATE, DELETE
AS
BEGIN
    SET NOCOUNT ON;
    
    -- INSERT
    IF EXISTS (SELECT * FROM inserted) AND NOT EXISTS (SELECT * FROM deleted)
    BEGIN
        INSERT INTO Auditoria (TabelaAfetada, Operacao, ChavePrimaria, DadosNovos)
        SELECT 
            'GastosCartao',
            'INSERT',
            CAST(i.IdGastosCartao AS VARCHAR(100)),
            (SELECT * FROM inserted FOR JSON AUTO, WITHOUT_ARRAY_WRAPPER)
        FROM inserted i;
    END
    
    -- UPDATE
    IF EXISTS (SELECT * FROM inserted) AND EXISTS (SELECT * FROM deleted)
    BEGIN
        INSERT INTO Auditoria (TabelaAfetada, Operacao, ChavePrimaria, DadosAntigos, DadosNovos)
        SELECT 
            'GastosCartao',
            'UPDATE',
            CAST(i.IdGastosCartao AS VARCHAR(100)),
            (SELECT * FROM deleted FOR JSON AUTO, WITHOUT_ARRAY_WRAPPER),
            (SELECT * FROM inserted FOR JSON AUTO, WITHOUT_ARRAY_WRAPPER)
        FROM inserted i;
    END
    
    -- DELETE
    IF EXISTS (SELECT * FROM deleted) AND NOT EXISTS (SELECT * FROM inserted)
    BEGIN
        INSERT INTO Auditoria (TabelaAfetada, Operacao, ChavePrimaria, DadosAntigos)
        SELECT 
            'GastosCartao',
            'DELETE',
            CAST(d.IdGastosCartao AS VARCHAR(100)),
            (SELECT * FROM deleted FOR JSON AUTO, WITHOUT_ARRAY_WRAPPER)
        FROM deleted d;
    END
END;
