USE [ProjetoGastosGovernamentais]
GO
/****** Object:  Trigger [dbo].[TR_Auditoria_Despesas]    Script Date: 19/10/2025 13:55:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER TRIGGER [dbo].[TR_Auditoria_Despesas]
ON [dbo].[Despesas]
AFTER INSERT, UPDATE, DELETE
AS
BEGIN
    SET NOCOUNT ON;
    
    -- INSERT
    IF EXISTS (SELECT * FROM inserted) AND NOT EXISTS (SELECT * FROM deleted)
    BEGIN
        INSERT INTO Auditoria (TabelaAfetada, Operacao, ChavePrimaria, DadosNovos)
        SELECT 
            'Despesas',
            'INSERT',
            CAST(i.IdDespesas AS VARCHAR(100)),
            (SELECT * FROM inserted FOR JSON AUTO, WITHOUT_ARRAY_WRAPPER)
        FROM inserted i;
    END
    
    -- UPDATE
    IF EXISTS (SELECT * FROM inserted) AND EXISTS (SELECT * FROM deleted)
    BEGIN
        INSERT INTO Auditoria (TabelaAfetada, Operacao, ChavePrimaria, DadosAntigos, DadosNovos)
        SELECT 
            'Despesas',
            'UPDATE',
            CAST(i.IdDespesas AS VARCHAR(100)),
            (SELECT * FROM deleted FOR JSON AUTO, WITHOUT_ARRAY_WRAPPER),
            (SELECT * FROM inserted FOR JSON AUTO, WITHOUT_ARRAY_WRAPPER)
        FROM inserted i;
    END
    
    -- DELETE
    IF EXISTS (SELECT * FROM deleted) AND NOT EXISTS (SELECT * FROM inserted)
    BEGIN
        INSERT INTO Auditoria (TabelaAfetada, Operacao, ChavePrimaria, DadosAntigos)
        SELECT 
            'Despesas',
            'DELETE',
            CAST(d.IdDespesas AS VARCHAR(100)),
            (SELECT * FROM deleted FOR JSON AUTO, WITHOUT_ARRAY_WRAPPER)
        FROM deleted d;
    END
END;
